@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@charset "UTF-8";
/* RESET CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILITY CSS */
.button {
  background-color: #1FAD96;
  color: #FFFFFF;
  display: inline-block;
  margin: 15px 0;
  padding: 12px 50px;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 5px;
}

/* APP CONTAINER */
.wrapper {
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
  background-color: #FFFFFF;
  color: #9EA4A5;
}

.container {
  font-family: "Poppins";
  font-size: 14px;
  width: 100%;
  min-width: 1200px;
  max-width: 1200px;
  margin: auto;
  line-height: 2em;
}
.container li {
  list-style: none;
}
.container a {
  text-decoration: none;
}

/* / TOP-BAR HEADER */
.top-bar {
  background-color: #FFFFFF;
  color: #9EA4A5;
  width: 100%;
  min-height: 70px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 100;
}
.top-bar .container, .top-bar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-bar-logo img {
  height: 25px;
}
.top-bar-menu {
  font-weight: 500;
}
.top-bar-menu a {
  color: #2C3837;
}
.top-bar-menu-site, .top-bar-menu-user {
  display: flex;
}
.top-bar-menu-site > li {
  padding: 25px;
}
.top-bar-menu-site > li > a:after {
  display: inline-block;
  content: "";
  font-family: "FontAwesome";
  padding: 0 5px;
}
.top-bar-menu-user > li {
  display: flex;
  align-items: center;
  padding: 10px;
}
.top-bar-menu-user > li:last-child {
  background-color: #F6F3F5;
  padding-right: 30px;
  border-radius: 5px;
  position: relative;
}
.top-bar-menu-user > li:last-child > input {
  max-width: 120px;
  background-color: transparent;
  font-family: "Poppins";
  border: 0;
}
.top-bar-menu-user > li:last-child > input:focus {
  outline: none;
}
.top-bar-menu-user > li:last-child .fa-search {
  color: #25AB94;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

/* MAIN BODY */
main {
  padding-top: 70px;
}

.jumbotron {
  padding: 25px 0;
}
.jumbotron .container {
  display: flex;
  align-items: center;
}
.jumbotron-description, .jumbotron-images {
  padding: 25px;
}
.jumbotron-description {
  width: 45%;
}
.jumbotron-description > * {
  margin-bottom: 20px;
}
.jumbotron-description h2 {
  color: #48495F;
  line-height: 1.2em;
  font-size: 3.1em;
  font-weight: bolder;
}
.jumbotron-description .button .fa {
  vertical-align: middle;
  font-size: 1.3em;
}
.jumbotron-images {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 570px;
  position: relative;
}
.jumbotron-images .jumbo-cover-img {
  z-index: 10;
  max-height: 100%;
  border-radius: 50%;
}
.jumbotron-images img:not(.jumbo-cover-img) {
  max-width: 150px;
  position: absolute;
  transition: 5s;
}
.jumbotron .jumbo-left-bg {
  max-width: 135px;
  left: 5%;
}
.jumbotron:hover .jumbo-left-bg:first-child {
  top: 27%;
}
.jumbotron .jumbo-left-bg:first-child {
  top: 10%;
}
.jumbotron:hover .jumbo-left-bg:nth-child(2) {
  bottom: 27%;
}
.jumbotron .jumbo-left-bg:nth-child(2) {
  bottom: 10%;
}
.jumbotron:hover .jumbo-right-bg {
  bottom: 10%;
}
.jumbotron .jumbo-right-bg {
  right: 15%;
  bottom: 65%;
}
.jumbotron:hover .jumbo-side-img {
  top: 25%;
}
.jumbotron .jumbo-side-img {
  z-index: 11;
  max-width: 120px;
  right: 0;
  top: 60%;
}

.partners {
  padding: 25px 0;
}
.partners ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners ul li {
  padding: 0 20px;
  opacity: 0.6;
}

.ft-courses {
  padding: 25px 0;
  background-color: #F6F3F5;
  text-align: center;
}
.ft-courses .container > h3 {
  line-height: 1.8em;
  font-weight: 600;
  text-transform: uppercase;
}
.ft-courses .container > h2 {
  color: #48495F;
  line-height: 1.8em;
  font-size: 2.2em;
  font-weight: bolder;
  text-transform: capitalize;
}
.ft-courses-list {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.ft-courses-list-el {
  display: flex;
  width: calc(100% / 2);
  margin: 50px 0;
}
.ft-courses-list-el-img {
  width: 35%;
  max-width: 170px;
  max-height: 170px;
  border-radius: 50%;
  overflow: hidden;
}
.ft-courses-list-el-img img {
  max-height: 100%;
}
.ft-courses-list-el-data {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ft-courses-list-el-data h3 {
  font-size: 1.8em;
  color: #25AB94;
  font-weight: bold;
}
.ft-courses-list-el-data h3 .txt-xs {
  font-size: 0.7em;
}
.ft-courses-list-el-data h4 {
  font-size: 1.3em;
  color: #48495F;
}
.ft-courses-list-el-data-description {
  display: flex;
  font-weight: 300;
  font-size: 0.8em;
}
.ft-courses-list-el-data-description > * {
  padding: 0 10px;
}
