@import url(https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.txt-upp {
  text-transform: uppercase;
}

.container {
  width: 100%;
  font-family: "Oxygen";
  font-size: 16px;
  max-width: 1200px;
  margin: auto;
}
.container li {
  list-style: none;
}
.container a {
  text-decoration: none;
}

.topbar {
  width: 100%;
  background-color: #000;
  color: #FFF;
}
.topbar nav:first-child {
  display: flex;
  justify-content: flex-end;
}
.topbar nav:last-child {
  display: flex;
  align-items: center;
}
.topbar li {
  padding: 15px;
}
.topbar-user-menu {
  display: flex;
  font-size: 0.7em;
}
.topbar-user-menu a {
  color: #A0A0A0;
}
.topbar-user-menu .fas {
  color: #009CFF;
}
.topbar-site-menu {
  display: flex;
  align-items: center;
  font-size: 0.9em;
}
.topbar-site-menu-logo img {
  height: 24px;
}
.topbar-site-menu a {
  color: #FFF;
}
.topbar-site-menu .fas {
  color: #A0A0A0;
}

.jumbotron {
  width: 100%;
  line-height: 2em;
  background-image: url("../img/00-bg.jpg");
  background-position: -350px 0;
  background-size: 150%;
  background-repeat: no-repeat;
}
.jumbotron .container {
  display: flex;
  justify-content: flex-end;
}
.jumbotron .button {
  display: inline-block;
  line-height: 1.5em;
  font-size: 0.8em;
}
.jumbotron .button > * {
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
}
.jumbotron-description {
  width: 35%;
  margin: 35px 0;
  padding: 15px;
}
.jumbotron-description > * {
  margin: 20px 0;
}
.jumbotron-description-title h2 {
  font-size: 1.5em;
}
.jumbotron-description-title h2 .txt-evd {
  color: #B936B2;
  font-style: italic;
  margin-right: 10px;
}
.jumbotron-description-title h3 {
  font-size: 1.1em;
}
.jumbotron-description .button {
  color: #333333;
  border: 2px solid #000;
}
.jumbotron-description .button .fas {
  font-size: 2em;
}
.jumbotron-buy {
  width: 35%;
  display: flex;
  justify-content: space-between;
  margin: 35px 0;
  padding: 15px;
  background-color: #000;
  color: #FFF;
}
.jumbotron-buy .txt-evd {
  font-size: 1.4em;
}
.jumbotron-buy .txt-upp {
  color: #A0A0A0;
}
.jumbotron-buy .button {
  background-color: #009CFF;
  color: #FFF;
  margin: 20px 0;
}

.overview-bar {
  background-color: #E6E6E6;
  color: #333333;
}
.overview-bar ul {
  display: flex;
  justify-content: center;
}
.overview-bar ul li {
  padding: 15px;
}
.overview-bar ul a {
  color: #333333;
}
