@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@charset "UTF-8";
/* RESET CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILITY CSS */
.rounded {
  border-radius: 6px;
}

.circled {
  border-radius: 50%;
}

.button {
  background-color: #1FAD96;
  color: #FFFFFF;
  display: inline-block;
  margin: 15px 0;
  padding: 12px 50px;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: bold;
}
.button .fa {
  vertical-align: middle;
  font-size: 1.3em;
}

.link-arrow {
  font-weight: bold;
}
.link-arrow.aft:after, .link-arrow.bfr:before {
  display: inline-block;
  content: "";
  font-family: "FontAwesome";
  font-weight: 100;
  padding: 0 5px;
}

.title {
  color: #48495F;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 1.3em;
}

.pre-title {
  font-weight: 600;
  line-height: 1.8em;
  text-transform: uppercase;
}

.section-title .title {
  font-size: 2.2em;
  line-height: 1.8em;
}

.txt-evd {
  color: #1FAD96;
  font-weight: 400;
}

/* APP CONTAINER */
.wrapper {
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
  background-color: #FFFFFF;
  color: #9EA4A5;
}
.wrapper a {
  text-decoration: none;
}
.wrapper li {
  list-style: none;
}

.container {
  font-family: "Poppins";
  font-size: 15px;
  width: 100%;
  min-width: 1200px;
  max-width: 1200px;
  margin: auto;
  line-height: 2em;
}

/* TOP-BAR HEADER */
.top-bar {
  background: linear-gradient(#FFFFFF, rgba(255, 255, 255, 0.85));
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 70px;
  position: fixed;
  z-index: 100;
}
.top-bar .container, .top-bar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-bar-logo img {
  height: 25px;
}
.top-bar-menu {
  font-weight: 500;
}
.top-bar-menu a {
  color: #2C3837;
}
.top-bar-menu-site, .top-bar-menu-user {
  display: flex;
}
.top-bar-menu-site > li {
  padding: 25px;
}
.top-bar-menu-site > li > a:after {
  display: inline-block;
  content: "";
  font-family: "FontAwesome";
  padding: 0 5px;
}
.top-bar-menu-user > li {
  display: flex;
  align-items: center;
  padding: 10px;
}
.top-bar-menu-user > li:last-child {
  background-color: #F6F3F5;
  padding-right: 30px;
  position: relative;
}
.top-bar-menu-user > li:last-child > input {
  max-width: 120px;
  background-color: transparent;
  font-family: "Poppins";
  border: 0;
}
.top-bar-menu-user > li:last-child > input:focus {
  outline: none;
}
.top-bar-menu-user > li:last-child .fa-search {
  color: #1FAD96;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

/* MAIN BODY */
main {
  padding-top: 70px;
}

.primary-sct .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.primary-sct-description {
  width: 40%;
}
.primary-sct-description .title {
  font-size: 3.1em;
  line-height: 1.2em;
}
.primary-sct-description .txt {
  font-size: 1.1em;
}
.primary-sct-description > * {
  margin-bottom: 20px;
}
.primary-sct-images {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 570px;
  position: relative;
}
.primary-sct-images .primary-cover-img {
  z-index: 10;
  max-height: 100%;
}
.primary-sct-images img:not(.primary-cover-img) {
  max-width: 150px;
  position: absolute;
  transition: 5s;
}
.primary-sct .primary-left-bg {
  max-width: 135px;
  left: -5%;
}
.primary-sct:hover .primary-left-bg:first-child {
  top: 27%;
}
.primary-sct .primary-left-bg:first-child {
  top: 10%;
}
.primary-sct:hover .primary-left-bg:nth-child(2) {
  bottom: 27%;
}
.primary-sct .primary-left-bg:nth-child(2) {
  bottom: 10%;
}
.primary-sct:hover .primary-right-bg {
  bottom: 7%;
}
.primary-sct .primary-right-bg {
  right: 7%;
  bottom: 65%;
}
.primary-sct:hover .primary-side-img {
  top: 20%;
}
.primary-sct .primary-side-img {
  z-index: 11;
  max-width: 120px;
  right: -6%;
  top: 60%;
}

#jumbotron {
  padding: 70px 0;
}

.partners {
  padding: 70px 0;
}
.partners ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners ul li {
  padding: 0 20px;
  opacity: 0.6;
}

.ft-courses {
  padding: 70px 0;
  background-color: #EBEFF5;
  text-align: center;
}
.ft-courses-list {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.ft-courses-list-el {
  display: flex;
  width: calc(100% / 2);
  margin: 50px 0;
}
.ft-courses-list-el-img {
  width: 35%;
  max-width: 170px;
  max-height: 170px;
  border-radius: 50%;
  overflow: hidden;
}
.ft-courses-list-el-img img {
  max-height: 100%;
}
.ft-courses-list-el-data {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ft-courses-list-el-data .price {
  font-size: 1.8em;
  color: #1FAD96;
  font-weight: bold;
}
.ft-courses-list-el-data .price .txt-xs {
  font-size: 0.7em;
}
.ft-courses-list-el-data-description {
  display: flex;
  font-weight: 300;
  font-size: 0.8em;
}
.ft-courses-list-el-data-description > * {
  padding: 0 10px;
}

.tutor-program {
  padding: 70px 0;
  text-align: center;
}
.tutor-program .container > * {
  margin-bottom: 20px;
}
.tutor-program-list {
  display: flex;
  min-height: 375px;
  text-align: left;
}
.tutor-program-list-elm {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 3);
}
.tutor-program-list-elm-img {
  max-width: 170px;
  max-height: 150px;
}
.tutor-program-list-elm-img img {
  height: 100%;
}
.tutor-program-list-elm .link-arrow {
  color: #9EA4A5;
}

#videospace {
  background-color: #EBEBEB;
}
#videospace .rounded-border-effect {
  background-color: #FFFFFF;
  border-bottom-right-radius: 50%;
}
#videospace .primary-cover-img {
  position: relative;
}
#videospace .play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 70px;
  position: absolute;
  z-index: 20;
  transition: 0.5s;
  cursor: pointer;
}
#videospace .play-button:hover {
  transform: scale(1.2);
}
#videospace .link-arrow {
  color: #1FAD96;
}

.review {
  padding: 70px 0;
  background-color: #EBEBEB;
  text-align: center;
}
.review:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #EBEBEB;
  z-index: -10;
  opacity: 0.5;
}
.review .container > * {
  margin-bottom: 20px;
}
.review-slider-list {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.review-slider-list-elm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(92% / 3);
  min-height: 570px;
  background: #FFFFFF;
  padding: 50px;
}
.review-slider-list-elm:not(:nth-child(2)) {
  opacity: 0.6;
}
.review-slider-list-elm-user {
  display: flex;
}
.review-slider-list-elm-user img {
  max-height: 70px;
}
.review-slider-list-elm-user .data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 15px;
}
.review-slider-list-elm-user .data h2 {
  font-size: 1em;
  color: #48495F;
}
.review-slider-list-elm-user .data span {
  font-size: 0.8em;
}
.review-slider-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.review-slider-nav li {
  width: 10px;
  height: 10px;
  margin: 70px 12px;
  background-color: #9EA4A5;
  cursor: pointer;
  transition: 0.25s;
}
.review-slider-nav li:hover {
  transform: scale(1.4);
  background-color: #48495F;
}
.review .start-now {
  text-align: center;
}
.review .start-now .title {
  line-height: 2em;
}
.review .start-now h2 {
  font-size: 2em;
}

.numbers {
  padding: 70px 0;
}
.numbers-list {
  display: flex;
}
.numbers-list-elm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 4);
  min-height: 320px;
  padding: 50px;
  text-align: center;
  border-left: 1px solid #EBEBEB;
}
.numbers-list-elm:last-child {
  border-right: 1px solid #EBEBEB;
}
.numbers-list-elm .title {
  font-size: 1.6em;
}
.numbers-list-elm .txt-evd {
  font-size: 4.5em;
  font-weight: bolder;
}
.numbers-list-elm .description {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
}

.most-viewed {
  padding: 70px 0;
  background-color: #F1EBE5;
}
.most-viewed .container {
  display: flex;
  align-items: center;
}
.most-viewed-description {
  width: 40%;
  padding-right: 80px;
}
.most-viewed-description > * {
  margin-bottom: 20px;
}
.most-viewed-description ul {
  font-size: 0.9em;
  color: #48495F;
  line-height: 3em;
}
.most-viewed-list {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.most-viewed-list-el {
  width: calc(95% / 2);
  background-color: #FFFFFF;
}
.most-viewed-list-el img {
  max-width: 100%;
}
.most-viewed-list-el .data {
  padding: 25px;
}

.subscription {
  padding: 70px 0;
  text-align: center;
}
.subscription .container > * {
  margin-bottom: 20px;
}
.subscription .title {
  font-size: 2em;
}
.subscription-input, .subscription p {
  width: 50%;
  font-size: 1.1em;
  margin: auto;
}
.subscription-input {
  display: flex;
  background-color: #F6F3F5;
}
.subscription-input > input {
  width: 70%;
  padding: 0 20px;
  background-color: transparent;
  font-family: "Poppins";
  border: 0;
}
.subscription-input > input:focus {
  outline: none;
}
.subscription-input .button {
  width: 30%;
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.footer {
  padding: 70px 0;
  background-color: #EBEFF5;
}
.footer-col {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}
.footer-col * {
  color: #2C3837;
}
.footer-col h3 {
  color: #000000;
}
.footer-col-credits {
  width: 30%;
}
.footer-col-credits .social-ico {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 50%;
  font-size: 1.5em;
  opacity: 0.4;
}
.footer-col-menu {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.footer .copyright {
  margin-top: 30px;
  font-size: 0.9em;
  text-align: center;
}
