<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HTML/SCSS/VUEJS Project [MaxCoach] - [by Francesco Maurella]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts link -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- Fontawesome Icons link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <!-- VueJS framework link -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/favicon-32x32.png">
  </head>
  <body>

    <div id="app" class="wrapper">

      <!-- TOP-BAR HEADER -->
      <header class="top-bar">
        <div class="container">
          <div class="top-bar-logo">
            <img src="img/dark-logo.png" alt="MaxCoach - Logo">
          </div>
          <nav class="top-bar-menu">
            <ul class="top-bar-menu-site">
              <li v-for="link in topMenu"><a href="#">{{link}}</a></li>
            </ul>
            <ul class="top-bar-menu-user">
              <li>
                <a class="fa fa-user-circle-o" aria-hidden="true"></a>
              </li>
              <li class="rounded">
                <input type="text" placeholder="Search...">
                <a class="fa fa-search" aria-hidden="true"></a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <!-- / TOP-BAR HEADER -->

      <!-- MAIN BODY -->
      <main>
        <!-- Jumbotron section -->
        <section id="jumbotron" class="primary-sct">
          <div class="container">
            <!-- description -->
            <div class="primary-sct-description">
              <h2 class="title">Distant learning for further expansion</h2>
              <p class="txt">
                Learning is a life-long journey that infact we never find the terminate stop.
                Stop searching, enjoy the process.
              </p>
              <a href="#" class="button">
                <i class="fa fa-download" aria-hidden="true"></i>
                <span>Download free guide</span>
              </a href="#">
            </div>
            <!-- / description -->
            <!-- images -->
            <div class="primary-sct-images">
              <img src="img/maxcoach-shape-08.png" class="primary-left-bg" alt="Jumbotron">
              <img src="img/maxcoach-shape-08.png" class="primary-left-bg" alt="Jumbotron">
              <img src="img/maxcoach-shape-07.png" class="primary-right-bg" alt="Jumbotron">
              <img src="img/maxcoach-shape-02.png" class="primary-side-img" alt="Jumbotron">
              <img src="img/about-me-profile-ohm4dxoearqbxny7q3bq1pzbdgofdx0tobbeqcvzd0.jpg" class="primary-cover-img circled" alt="Jumbotron">
            </div>
            <!-- / images -->
          </div>
          <!-- / Jumbotron section -->
      </section>
      <!-- Partners-bar -->
      <section class="partners">
        <ul class="container">
          <li v-for="client in partners">
            <img :src="'img/client-logo-' + client.img + '.png'" :alt="'Partner [' + client.name + ']'">
          </li>
        </ul>
      </section>
      <!-- / Partners-bar -->
      <!-- Featured Courses section -->
      <section class="ft-courses">
        <div class="container">
          <div class="section-title">
            <h3 class="pre-title">Stimulated to learn?</h3>
            <h2 class="title">Featured online courses</h2>
          </div>
          <!-- courses list -->
          <ul class="ft-courses-list">

            <!-- course element -->
            <li v-for="course in courses" class="ft-courses-list-el">
              <!-- course image -->
              <div class="ft-courses-list-el-img">
                <img :src="'img/' + course.img + '.jpg'" alt="Course">
              </div>
              <!-- / course image -->
              <!-- course data -->
              <div class="ft-courses-list-el-data">
                <h3 v-if="course.price" class="price">{{course.price}}<span class="txt-xs">,00</span></h3>
                <h3 v-else class="price">Free</span></h3>
                <h4 class="title">{{course.name}}</h4>
                <div class="ft-courses-list-el-data-description">
                  <div>
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <span>{{course.data.lessons}} Lessons</span>
                  </div>
                  <div>
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    <span>{{course.data.students}} Students</span>
                  </div>
                </div>
              </div>
              <!-- / course data -->
            </li>
            <!-- / course element -->
          </ul>
          <!-- / courses list -->
          <div class="button">
            View all courses
          </div>
        </div>
      </section>
      <!-- / Featured Courses section -->
      <!-- Tutoring Program section -->
      <section class="tutor-program">
        <div class="container">
          <div class="section-title">
            <h3 class="pre-title">MaxCoach avaiable courses</h3>
            <h2 class="title">Access <span class="txt-evd">Smart Tutoring</span> Program For Benefits.</h2>
          </div>
          <!-- program list -->
          <ul class="tutor-program-list">
            <!-- program list-element -->
            <li class="tutor-program-list-elm">
              <div class="tutor-program-list-elm-img">
                <img src="img/home-2-image-box-01.png" alt="Program">
              </div>
              <h4 class="title">Customize Preferences</h4>
              <p>
                Learners are given the right to arrange and customize their study schedule and timetable based on preferences.
              </p>
              <a href="#" class="link-arrow aft">Start Here</a>
              </a>
            </li>
            <!-- / program list-element -->
            <!-- program list-element -->
            <li class="tutor-program-list-elm">
              <div class="tutor-program-list-elm-img">
                <img src="img/about-us-02-image-box-02.png" alt="Program">
              </div>
              <h4 class="title">Cloud Storage</h4>
              <p>
                You can store online lessons via online cloud or download to your device and revise lessons on the way.
              </p>
              <a href="#" class="link-arrow aft">Get Free Quote</a>
              </a>
            </li>
            <!-- / program list-element -->
            <!-- program list-element -->
            <li class="tutor-program-list-elm">
              <div class="tutor-program-list-elm-img">
                <img src="img/home-2-image-box-03.png" alt="Program">
              </div>
              <h4 class="title">Multimedia channels</h4>
              <p>
                We provide study materials with various formats: video, audio, slides, doc, prints, books and applications.
              </p>
              <a href="#" class="link-arrow aft">Start Now</a>
              </a>
            </li>
            <!-- / program list-element -->
          </ul>
          <!-- / program list -->
        </div>
      </section>
      <!-- / Tutoring Program section -->
      <!-- Companionship section -->
      <section id="videospace" class="primary-sct">
        <div class="rounded-border-effect">
          <div class="container">
            <div class="primary-sct-images">
              <img src="img/home-2-popup-video-poster.jpg" class="primary-cover-img rounded" alt="Companionship">
              <img src="img/icon-youtube-play.png" class="play-button" alt="Play video">
            </div>
            <div class="primary-sct-description">
              <h3 class="pre-title">Get started effortlessly</h3>
              <h2 class="title">Enjoy Our <span class="txt-evd">Companionship</span></h2>
              <p class="txt">
                Sneek peek into what has in store for you on our online teaching and mentoring portal. Seek for some hidden hints of early-bird rewards as well.
              </p>
              <a href="#" class="link-arrow aft">Download free guidebook</a>
            </div>
          </div>
        </div>
      </section>
      <!-- / Companionship section -->
      <!-- Reviews section -->
      <section class="review">
        <div class="container">
          <div class="section-title">
            <h3 class="pre-title">Great words about MaxCoach</h3>
            <h2 class="title">Our <span class="txt-evd">top learners'</span> verbatim</h2>
          </div>
          <!-- review slider -->
          <div class="review-slider">
            <!-- list -->
            <ul class="review-slider-list">
              <!-- element -->
              <li class="review-slider-list-elm">
                <h4 class="title">
                  The MaxCoach team works really hard to ensure high quality
                </h4>
                <p>
                  I am happy with their arrangement of lessons and subjects. They reflect a scientific  investigation into effective methods to be adopted for learners of all levels.
                </p>
                <div class="review-slider-list-elm-user">
                  <img src="img/testimonial-avata-01.jpg" class="circled" alt="Review">
                  <div class="data">
                    <h2>Luvic Dubble</h2>
                    <span>/ Private Tutor</span>
                  </div>
                </div>
              </li>
              <!--/ element -->
              <!-- element -->
              <li class="review-slider-list-elm">
                <h4 class="title">
                  The MaxCoach team works really hard to ensure high quality
                </h4>
                <p>
                  I am happy with their arrangement of lessons and subjects. They reflect a scientific  investigation into effective methods to be adopted for learners of all levels.
                </p>
                <div class="review-slider-list-elm-user">
                  <img src="img/testimonial-avata-01.jpg" class="circled" alt="Review">
                  <div class="data">
                    <h2>Luvic Dubble</h2>
                    <span>/ Private Tutor</span>
                  </div>
                </div>
              </li>
              <!--/ element -->
              <!-- element -->
              <li class="review-slider-list-elm">
                <h4 class="title">
                  The MaxCoach team works really hard to ensure high quality
                </h4>
                <p>
                  I am happy with their arrangement of lessons and subjects. They reflect a scientific  investigation into effective methods to be adopted for learners of all levels.
                </p>
                <div class="review-slider-list-elm-user">
                  <img src="img/testimonial-avata-01.jpg" class="circled" alt="Review">
                  <div class="data">
                    <h2>Luvic Dubble</h2>
                    <span>/ Private Tutor</span>
                  </div>
                </div>
              </li>
              <!--/ element -->
            </ul>
            <!-- / list -->
            <!-- slider navbar -->
            <ul class="review-slider-nav">
              <li class="circled"></li>
              <li class="circled"></li>
              <li class="circled"></li>
              <li class="circled"></li>
            </ul>
            <!-- / slider navbar -->
          </div>
          <!-- / review slider -->
          <!-- get started -->
          <div class="start-now">
            <h3 class="title">Start today for getting <span class="txt-evd">Online Certification</span></h3>
            <h2 class="title">You can be your own guiding star with our help!</h2>
            <a href="#" class="button">
              Get started now
            </a>
          </div>
          <!-- / get started -->
        </div>
      </section>
      <!-- / Reviews section -->
      <!-- Numbers section -->
      <section class="numbers">
        <div class="container">
          <!-- list -->
          <ul class="numbers-list">
            <!-- element -->
            <li class="numbers-list-elm">
              <h2 class="title">Successfully trained</h2>
              <div class="txt-evd">1790</div>
              <div class="description">Enrolled learners</div>
            </li>
            <!-- / element -->
            <!-- element -->
            <li class="numbers-list-elm">
              <h2 class="title">Proudly Received</h2>
              <div class="txt-evd">19</div>
              <div class="description">Countrywide awards</div>
            </li>
            <!-- / element -->
            <!-- element -->
            <li class="numbers-list-elm">
              <h2 class="title">Firmly Established</h2>
              <div class="txt-evd">24</div>
              <div class="description">Local branches</div>
            </li>
            <!-- / element -->
            <!-- element -->
            <li class="numbers-list-elm">
              <h2 class="title">Successfully trained</h2>
              <div class="txt-evd">1090</div>
              <div class="description">Blog posts</div>
            </li>
            <!-- / element -->
          </ul>
          <!-- / list -->
        </div>
      </section>
      <!-- / Numbers section -->
      <!-- Most Viewed section -->
      <section class="most-viewed">
        <div class="container">
          <div class="most-viewed-description">
            <div class="section-title">
              <h3 class="pre-title">Enjoyable insights</h3>
              <h2 class="title">Most Viewed <span class="txt-evd">Best Blogs</span>.</h2>
            </div>
            <ul>
              <li class="link-arrow bfr">Become a Better Blogger: Content Planning</li>
              <li class="link-arrow bfr">Promoting Your Online Business on Pinterest</li>
              <li class="link-arrow bfr">Gamification and Game-Based Learning</li>
              <li class="link-arrow bfr">Designing an Online Course from Expert’s Perspective</li>
              <li class="link-arrow bfr">Why Online Courses Are the Future of Education</li>
          </div>
          <ul class="most-viewed-list">
            <li class="most-viewed-list-el">
              <img src="img/artist-blog-03-480x352.jpeg" alt="">
              <div class="data">
                <h3 class="pre-title">Business</h3>
                <h2 class="title">Ten Benefits Of Rentals That May Change Your Perspective</h2>
              </div>
            </li>
            <li class="most-viewed-list-el">
              <img src="img/artist-blog-03-480x352.jpeg" alt="">
              <div class="data">
                <h3 class="pre-title">Business</h3>
                <h2 class="title">Ten Benefits Of Rentals That May Change Your Perspective</h2>
              </div>
            </li>

          </ul>
        </div>
      </section>
      <!-- / Most Viewed section -->
      <!-- Subscription section -->
      <section class="subscription">
        <div class="container">
          <h3 class="title">Subscribe <span class="txt-evd">Newsletters</span></h3>
          <p>
            Enter your email address to register to our newsletter subscription delivered on a regular basis!
          </p>
          <div class="subscription-input rounded">
            <input type="text">
            <a href="#" class="button">
              Subscribe
            </a>
          </div>
        </div>
      </section>
      <!-- / Subscription section -->
      </main>
      <!-- / MAIN BODY -->

      <!-- FOOTER -->
      <footer class="footer">
        <div class="container">
          <div class="footer-col">
            <div class="footer-col-credits">
              <h3>Address</h3>
              <p>
                382 NE 191st St # 87394 Miami, FL 33179-3899
                <br />
                +1 (305) 547-9909 (9am - 5pm EST, Monday - Friday)
                <br />
                support@maxcoach.com
              </p>
              <div class="social-ico">
                <a href="#" class="fa fa-twitter" aria-hidden="true"></a>
                <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
                <a href="#" class="fa fa-instagram" aria-hidden="true"></a>
                <a href="#" class="fa fa-youtube-play" aria-hidden="true"></a>
                <a href="#" class="fa fa-linkedin" aria-hidden="true"></a>
              </div>
            </div>
            <nav class="footer-col-menu">
              <div class="footer-col-menu-elm">
                <h3>Explore</h3>
                <ul>
                  <li><a href="#">Start here</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">About us</a></li>
                </ul>
              </div>
              <div class="footer-col-menu-elm">
                <h3>Explore</h3>
                <ul>
                  <li><a href="#">Start here</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">About us</a></li>
                </ul>
              </div>
              <div class="footer-col-menu-elm">
                <h3>Explore</h3>
                <ul>
                  <li><a href="#">Start here</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">About us</a></li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="copyright">
            © 2020 Maxcoach. All Rights Reserved
          </div>
        </div>
      </footer>
      <!-- / FOOTER -->

    </div>

    <script src="js/script.js" charset="utf-8"></script>

  </body>
</html>
