// Colors
$col-main : #FFFFFF;
$col-text : #9EA4A5;
$col-top-links : #2C3837;
$col-input : #F6F3F5;
$col-even-sect1 : #EBEFF5;
$col-even-sect2 : #EBEBEB;
$col-even-sect3 : #F1EBE5;
$col-title : #48495F;
$col-evidence : #ef6f31; // original color: #1FAD96
$col-foot-title: #000000;

// Backgrounds
@mixin bg-topbar {
  background: linear-gradient($col-main, rgba(255, 255, 255, .85));
  box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}
@mixin bg-button {
  background-color : $col-evidence;
  color : $col-main;
}
