// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');
// Fontawesome
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@import 'partials/_txtspecs.scss';
@import 'partials/_spaces.scss';
@import 'partials/_colors.scss';

/* RESET CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILITY CSS */
.button {
  @include bg-mountainmd;
  display: inline-block;
  margin : 15px 0;
  padding : 12px 50px;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 5px;
}

/* APP CONTAINER */
.wrapper {
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
  @include bg-white;
}

.container {
  @include main-txt;
  width: 100%;
  min-width: 1200px;
  max-width: 1200px;
  margin: auto;
  line-height: 2em;

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
    }

}

/* / TOP-BAR HEADER */
.top-bar {
  @include bg-white;
  width: 100%;
  min-height: $top-hgt;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
  position: fixed;
  z-index: 100;

  .container, &-menu {
    @include flx-jc-spacebtw;
    align-items: center;
  }

  &-logo img {
    height: 25px;
  }

  &-menu {
    font-weight: 500;

    a {
      color: $col-outspace;
    }

    &-site, &-user {
      @include flx;
    }

    &-site {
      & > li {
        @include sect-content-pdd;

          & > a:after {
            display : inline-block;
            content : '\f107';
            font-family: 'FontAwesome';
            padding: 0 5px;
          }

      }
    }

    &-user {
      & > li {
        @include flx-ai-center;
        padding : 10px;
      }

      & > li:last-child {
        background-color: $col-hint;
        padding-right: 30px;
        border-radius : 5px;
        position: relative;

        & > input {
          max-width: 120px;
          background-color: transparent;
          font-family : $main-font;
          border : 0;
        }

        & > input:focus {
          outline: none;
        }

        .fa-search {
          color : $col-junglegreen;
          position: absolute;
          right : 15px;
          cursor: pointer;
        }

      }

    }

  }

}

/* MAIN BODY */
main {
  padding-top: $top-hgt;
}

.jumbotron {
  @include section-h-pdd;

    .container {
      @include flx-ai-center;
    }

    &-description, &-images {
      @include sect-content-pdd;
    }

    &-description {
      width: 45%;

        & > * {
          @include row-distance;
        }

        h2 {
          @include jumbo-title;
        }

        .button {
            .fa {
              vertical-align: middle;
              font-size: 1.3em;
            }
        }

    }

    &-images {
      @include flx-centered;
      width: 55%;
      height: 570px;
      position: relative;

      .jumbo-cover-img {
        z-index: 10;
        max-height: 100%;
        border-radius: 50%;
      }

      img:not(.jumbo-cover-img) {
        max-width: 150px;
        position: absolute;
        transition: 5s;
      }

    }

    .jumbo-left-bg {
      max-width: 135px;
      left : 5%;
    }

    &:hover .jumbo-left-bg:first-child {
      top: 27%;
    }

    .jumbo-left-bg:first-child{
      top: 10%;
    }

    &:hover .jumbo-left-bg:nth-child(2) {
      bottom: 27%;
    }

    .jumbo-left-bg:nth-child(2){
      bottom: 10%;
    }

    &:hover .jumbo-right-bg {
      bottom: 10%;
    }

    .jumbo-right-bg {
      right : 15%;
      bottom: 65%;
    }

    &:hover .jumbo-side-img {
      top : 25%;
    }

    .jumbo-side-img {
      z-index: 11;
      max-width: 120px;
      right : 0;
      top: 60%;
    }

}

.partners {
  @include section-h-pdd;

  ul {
    @include flx-centered;

      li {
        padding : 0 20px;
        opacity: 0.6;
      }

  }
}

.ft-courses {
  @include section-h-pdd;
  background-color: $col-hint;
  text-align: center;

    .container > h3 {
      @include sect-pretitle;
    }

    .container > h2 {
      @include sect-title;
    }

    &-list {
      @include flx;
      flex-wrap: wrap;
      text-align: left;

      &-el {
        @include flx;
        width: calc(100% / 2);
        margin: 50px 0;

        &-img {
          width: 35%;
          max-width: 170px;
          max-height: 170px;
          border-radius: 50%;
          overflow: hidden;

            img {
              max-height: 100%;
            }

        }

        &-data {
          @include sect-content-pdd;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

            h3 {
              font-size: 1.8em;
              color: $col-junglegreen;
              font-weight: bold;

                .txt-xs {
                  font-size: 0.7em;
                }
            }

            h4 {
              font-size: 1.3em;
              color: $col-gunpwd;
            }

            &-description {
              @include flx;
              font-weight: 300;
              font-size: 0.8em;

                & > * {
                  padding : 0 10px;
                }
            }
        }
      }
    }

}
